body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.fill {
    height: 100%;
    min-height: 85vh;
}

table, th, td{
    border: 1px solid white;
}

table{
    width: 100%;
    text-align: center;
}